@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: tituloCutout;
  src: url(/Eighties-Regular.otf);
}

@font-face {
  font-family: textoCutout;
  src: url(/Mondwest-Regular.otf);
}

.titulo{

  font-family: tituloCutout;
  /*font-size: 4rem;*/
}

.textoCutout{

  font-family: textoCutout;
 /*font-size: 1.5rem;
 padding-right: 30px;*/

}